<li id="comment-<%=comment.id%>">
        <p>
            <% if(locals.user && comment.user.id ==locals.user.id ){ %> 
                <small>
                    <a  class="delete-comment-button" href="/comments/destroy/<%=comment.id%>">X</a>
                </small>
                <%}%>
            <%= comment.content %>
            <br>
            <small>
               comment created by : &nbsp; <%=comment.user.name %>
            </small>
            <% if(locals.user){ %> 
                <small>
                    <a class="toggle-like-button" data-likes="<%=comment.likes.length%>" href="/likes/toggle/?id=<%=comment._id%>&type=Comment"> <%=comment.likes.length%> Likes</a>
                </small>
                <%} else { %>
                    <%=comment.likes.length%> Likes
                <%}%>
        </p>
</li>