<li id="post-<%=i._id%>">         
        <p>
            <% if(locals.user && i.user.id ==locals.user.id ){ %> 
                <small>
                    <a class="delete-post-button" href="/posts/destroy/<%=i.id%>">X</a>
                </small>
                <%}%>

            <%= i.content %>
            <small>
               Post created by : &nbsp; <%=i.user.name %>
            </small>
        </p>

        <div class="post-comments">
            <% if(locals.user){%>
            <!-- let's give an id to the new comment form, we'll also need to make the same changes in home_posts.js where we're adding a post to the page -->
            <form action="/comments/create" method="post" id="post-<%= i._id %>-comments-form">
                <input type="text" name="content"  placeholder="Please leave your comment.." required>
                <input type="hidden" name="post" value="<%=i._id %>">
                <input type="submit" value=" Add Comment">
            </form>
        <%}%>
        </div>
        <div class="post-comments-list">
            <ul id="post-comments-<%=i._id%>">
                <% for (comment of i.comments) { %> 
                <%- include('_comment'); %>
                <%}%>
            </ul>
        </div>
</li>